<% include ../partials/header %>

<h1> Company index here </h1>
<% if(locals.companies){  %>
<% companies.forEach(function(company){ %> 
<div class="container company"> 
    <ul>
    <li>Company Name: <strong><%= company.name%> </strong> </li>
    <li>Company Phone Number: <strong> <%= company.phonenumber %></strong> <li> 
    <li>Company Address: <strong><%= company.address %></strong></li>
    <li><a href="company/<%=company.id%>/edit/" class="btn btn-warning">Edit</a></li>
    <li><a href="company/<%=company.id%>/delete/" class="btn btn-danger">Delete</a>
    </ul>
</div> 
<% }); %>

<% } else { %>
<p> You have no companies! Try adding one! </p> 
<% } %> 







<a class="btn btn-success" href="/company/new">Add Company to address book</a>


<% include ../partials/footer %>